<div class="card mb-3" id="<%= dom_id message %>">
  <div class="card-body">
    <p class="card-text <%=align_by_current_user(message, user)%>"><%= message.content %></p>
    <p class="card-footer <%=align_by_current_user(message, user)%>"><%= l message.created_at, format: :short %> | <strong><%=message.user.email%></strong> </p>
  </div>
</div>
