<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>

<%= turbo_stream_from "chat_rooms" %>
<%= turbo_frame_tag "chat_rooms" do %>
  <%=render @rooms %>
<% end %>
<hr />
<%= turbo_frame_tag 'new_chat_room', src: new_room_path, target: "_top" %>

