<p style="color: green"><%= notice %></p>
<%= turbo_stream_from "chat_rooms" %>
<%= turbo_frame_tag "chat_rooms" do %>
  <%= render @room %>
<% end %>
<hr />
<hr />

<h5>Messages</h5>
<%= turbo_stream_from "messages_#{@room.id}" %>
<%= turbo_frame_tag "messages_#{@room.id}" do %>
  <%= render partial: "messages/message", collection: @room.messages, locals: {user: current_user} %>
<% end %>
<hr />
<hr />
<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "messages_#{@room.id}" %>