<p style="color: green"><%= notice %></p>
<%= turbo_stream_from "chat_rooms" %>
<%= turbo_frame_tag "chat_rooms" do %>
  <%= render @room %>
<% end %>

<h5>Messages</h5>
<%= turbo_stream_from "messages" %>
<%= turbo_frame_tag "messages" do %>
  <%= render @room.messages %>
<% end %>
<hr />
<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "messages" %>